# If you want Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-frencoin.desktop
# Note: This assumes $HOME/.local/bin is in your $PATH

[Desktop Entry]
Comment=Lightweight Frencoin Client
Exec=electrum_frencoin %u
GenericName[en_US]=Frencoin Wallet
GenericName=Frencoin Wallet
Icon=electrum
Name[en_US]=Electrum Frencoin Wallet
Name=Electrum Frencoin Wallet
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=electrum_frencoin
Terminal=false
Type=Application
MimeType=x-scheme-handler/fren
Actions=Testnet;

[Desktop Action Testnet]
Exec=electrum_frencoin --testnet %u
Name=Testnet mode
